*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
    list-style: none;
}
.header{
    background-color: #0A192F;
    height: 80px;
    display: flex;
    align-items: center;
}
.cont-header{
    height: 50px;
    width: 100%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
.dropdown-c{
    position: absolute;
    top: 50px;
    right: 0;
    width: 150px;
    height: 200px;
    background-color: #0A192F;
    padding: 8px;
    display: none;
    z-index: 110;
}
.dropdown-interior{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.saludin{
    border-bottom: 1px solid gray;
}
.logo-coompitas{
    height: 50px;
}
.url-usuario{
    width: 50px;
    height: 100%;
    border-radius: 50%;
}
.cont-view{
    padding: 5px;
    max-width: 1200px;
    min-height: calc(100vh - 80px);
    margin: auto;
    position: relative;
}
/*encabezado*/
.cont-encabezado{
    display: flex;
    height: 100px;
    background-color: #172B46;
    border-radius: 16px;
    margin-bottom: 5px;
}
.cont-img-users{
    position: relative;
}
.cont-titulos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.titulo{
    font-size: 18px;
    color: #CEDCF9;
}
.subtitulo{
    font-size: 15px;
    color: #CEDCF9;
}
.titprin span{
    color: white;
}
.img{
    height: 100%;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid white;
}
.img-comprador{
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -5px;
    right: -5px;
}

/*contenedor camara*/
.cont-camara{

}
.btn-cancelar-camara{
    background-color: #ce4a4a;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
}
.btn-cancelar-camara:hover{
    background-color: #942a2a;
}
.cont-estados{
    background-color: #172B46;
    border-radius: 8px;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
}

.cont-info{
    background-color: #172B46;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.cont-info p{
    font-weight: bold;
    color: #CEDCF9;
}
.cont-info span{
    color: #CEDCF9;
    font-weight: normal;
}
.precio-envio{
    margin-top: 20px;
}

.cont-objectivos{
    background-color: #172B46;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 5px;
}

.tit-obj{
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
}
.obj-ul{
    color: white;
}
.obj-nombre{
    font-weight: bold;
    text-transform: capitalize;
}
.obj-cant{

}
.cont-obj-val{
    display: flex;
    height: 50px;
    margin-bottom: 5px;
}
.img-obj{
    width: 50px;
    height: 100%;
    border-radius: 8px;
    margin-right: 5px;
}
.barra {
    height: 100%;
    color: black;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.no-alcanzado {
    background-color: gray;
}

.no-alcanzado p {
    opacity: 0.5;
}

.alcanzado {
    background-color: #CEDCF9;
    color: #478d62;
    font-weight: bold;
}

.alcanzado .descuento {
    color: black;
}

.barra p {
    margin: 0;
}

.cantidad {
    font-size: 13px;
}

/*contenedor pedidos*/

.cont-pedidos{
    background-color: #0A192F;
    padding: 5px 20px;
    border-radius: 8px;
}
.tit-pedidos{
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}
.pedido{
    background-color: #172B46;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid #CEDCF9;
}

.encabezado-pedido{
    display: flex;
    align-items: center;

    margin-bottom: 5px;
}
.ped-compr-nomb{
    text-transform: capitalize;
    font-weight: bold;
    margin-left: 5px;
    color: #CEDCF9;
}
.carrito-cont{
    background-color: #526681;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.tit-carrito{
    color: #0A192F;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid #2e3a4d;
    padding-bottom: 3px;
}
.img-carrito{
    width: 40px;
    height: 100%;
    border-radius: 50%;
}
.cont-item-carrito{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.total-text-carrito{
    color: white;
}
.total-text-carrito span{
    color: #CEDCF9;
}
.descuento-aplicado-cont{
    background-color: #78a873;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    margin-left: 5px;
    position: relative;
    border: 1px solid black;
}
.img-descuento{
    width: 20px;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 20;
}
.text-descuento{
    z-index: 50;
    font-weight: bold;
    color: #ffffff;
}
.prod-cost{
    border-bottom: 1px solid gray;
    font-weight: bold;
    margin-bottom: 5px;
    color: #CEDCF9;
}
.prod-cost span{
    font-weight: normal;
    color: white;
}
.ahorro-envio-cont{
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.ahorro-div{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    flex: 1;
}
.text-cost-env{
    color: white;
}
.ahorro-msg{
    margin-left: 5px;
    position: relative;
    background-color: #78a873;
    font-weight: bold;
}
.ahorro-msg-false{
    background-color: #ce4a4a;
    color: white;
}
.img-ahorro{
    width: 20px;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 20;
}

.cancelada{
    height: 100%;
    width: 100%;
    background-color: rgba(26,26,26,0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.btn-pedido{
    padding: 5px 20px;
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
}
.btn-nolisto{
    background-color: #ce4a4a;
    color: white;
}
.btn-comenzarpagos{
    margin-top: 0;
    margin-bottom: 5px;
    background-color: #526681;
}
.ancor-unirse{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.btn-ancor-unirse{
    background-color: #78a873;
    width: 160px;
    text-align: center;
    padding: 5px 20px;
    margin-bottom: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.btn-ancor-unirse:hover{
    background-color: #53a14d;
}
.msg-estados-pedido{
    margin-left: 5px;
    font-weight: bold;
}
.listo-msg{
    color: #78a873;
}
.nolisto-msg{
    color: red;
}
.ped-propietario{
    border-color: #53a14d;
    box-shadow: 0px 0px 10px #3db235;
}
.pagar-div{
    background-color: #526681;
    width: 160px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    margin-top: 5px;
}
.pagar-div:hover{
    background-color: #92add2;
    cursor: pointer;
}
.pagar-div a{
    text-decoration: none;
    color: white;

}

