.main-container{
    max-width: 1200px;
    margin: auto;
}
.cont-inicial{
    background-color: #172B46;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;

}
.cont-inicial h1{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
}
.producto{
    margin: 10px;
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.producto img{
    border-radius: 8px;
}
.contenedor-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
}
.cont-secundario{
    padding: 5px;
    width: 500px;
}
.adentro-secundario{
    background-color: #172B46;
    padding: 5px;
    border-radius: 8px;
    color: #fff;
}
.cont-horizontal{
    display: flex;
}
#cantidad{
    width: 70px;
    height: 100%;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    background-color: #e8e8e8;
}
.cont-btnes{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.carrito_textos{
    color: #000;
}
#agregar-btn{
    width: 50px;
    height: 100%;
    margin-left: 5px;
    border-radius: 8px;
    background-color: #0A192F;
    color: white;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}
.carrito{
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}
.descuentos{
    font-size: 12px;
    font-weight: bold;
}
.nombre{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
}
.cont-inputs{
    display: flex;
    flex-direction: column;
}
.btn-crearcam{
    background-color: #526681;
    color: white;
    font-weight: bold;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
.btn-crearcam:hover{
    background-color: #7892b4;
    color: #000;
}
.btn-crearcam input{
    text-transform: uppercase;
    cursor: pointer;
}
.btn-cancelar{
    background-color: #b74949;
    width: 130px;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-cancelar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}