*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
    list-style: none;
}
.header{
    background-color: #0A192F;
    height: 80px;
    display: flex;
    align-items: center;
}
.cont-header{
    height: 50px;
    width: 100%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
.dropdown-c{
    position: absolute;
    top: 50px;
    right: 0;
    width: 150px;
    height: 200px;
    background-color: #0A192F;
    padding: 8px;
    display: none;
}
.dropdown-interior{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.saludin{
    border-bottom: 1px solid gray;
}
.logo-coompitas{
    height: 50px;
}
.url-usuario{
    width: 50px;
    height: 100%;
    border-radius: 50%;
}
.main-container{
    padding: 5px;
    max-width: 1200px;
    min-height: calc(100vh - 80px);
    margin: auto;
}
.search-container{
    background-color: #0A192F;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title{
    font-size: 18px;
    color: #CEDCF9;
}
.lista_productos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    overflow: scroll;
}
.producto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10px;
    width: 200px;
    height: 250px;
    background: linear-gradient(154deg, #526681 0%, rgba(3.54, 13.34, 26.56, 0.2%) 100%);
    border-radius: 10px;
    border: 1px white solid
}
.acciones{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}
.editar-link{
    font-size: 18px;
    text-decoration: none;
    color: #0A192F;
    transition: all 0.3s;
    cursor: pointer;
}
.editar-link:hover{
    transform: scale(1.2);
}
.eleminar-btn{
    font-size: 18px;
    color: #0A192F;
    border: none;
    background: none;
    transition: all 0.3s;
    cursor: pointer;
}
.eleminar-btn:hover{
    transform: scale(1.2);
}
#agregar-form{
    display: none;
    flex-direction: column;
}