* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
}

.body {
    width: 100%;
    height: 100%;
    background-color: #0A192F;
}

.header {
    position: relative;
    height: 10%;
    max-height: 120px;
    padding: 20px;
}

.logo {
    height: 90%;
}
.main {
    position: relative;
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
}
#form-comprador{
    display: flex;
}
#form-proveedor{
    display: none;
}
.register-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 80%;
    max-width: 450px;
    background: linear-gradient(154deg, #526681 0%, rgba(3.54, 13.34, 26.56, 0) 100%);
    border-radius: 10px;
    border: 1px white solid
}
.switch-btn{
    width: 70%;
    margin: 0.5em auto;
    padding: 0.5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.switch-btn:hover{
    background: #50347E;
    color: #CEDCF9;
    transform: scale(1.1);
}
.title {
    text-align: center;
    color: #CEDCF9;
    font-size: 1.2em;
    max-height: 50px;
}
.form {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    justify-content: space-evenly;
}
.label {
    color: #CEDCF9;
    font-size: 0.8em;
    margin: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.input {
    background: white;
    border-radius: 10px;
    border: none;
    padding: 0.2em 0.5em;
}
.input::placeholder {
    color: #b1b1b1;
}
.login-link {
    color: #CEDCF9;
    text-decoration: none;
    text-align: center;
}
.register-btn {
    color: #CEDCF9;
    font-size: 1.2rem;
    width: fit-content;
    margin: 0.1em auto;
    padding: 1em;
    background: none;
    border-radius: 10px;
    border: 1px solid #CEDCF9;
    cursor: pointer;
    transition: all 0.3s;
}
.register-btn:hover{
    background: #CEDCF9;
    color: #0A192F;
    border: #0A192F solid 1px;
    transform: scale(1.1);
}
.efecto-top {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 0;
    background: #50347E;
    box-shadow: 0 0 6em 3em #50347E;
    transform: translateX(-50%); /* Centrar horizontalmente */
}
.efecto-bottom {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 100%;
    background: #50347E;
    box-shadow: 0 0 6em 3em #50347E;
    transform: translateX(-50%); /* Centrar horizontalmente */
}
@media (min-width: 768px) {
    .title{
        font-size: 1.5em;
    }
    .input{
        margin: 0.2em;
        padding: 0.8em;
    }
    .efecto-top {
        margin: 0 auto;
        width: 150px;
        box-shadow: 0 0 9em 1.5em #50347E;
    }

    .efecto-bottom {
        margin: 0 auto;
        width: 350px;
        box-shadow: 0 0 11em 2em #50347E;
    }
}