*{
    margin: 0;
    padding: 0;
    boxsizing: border-box;
}
.main-container{
    max-width: 1200px;
    margin: auto;
}
.titulo-container{
    background-color: #0A192F;
    height: 100px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 20px;
}
.titulo-container h1{
    color: white;
    text-align: center;
    font-size: 25px;
}
.cont-proveedores{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.proveedor{
    background-color: #f6ead5;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    margin-right: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.img-proveedor{
    width: 100px;
}
.tit-proveedor{
    text-transform: capitalize;
    font-weight: bold;

}
.cont-camara{
    background-color: #0eadc0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.cont-camara a{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.buscador label{
    font-weight: bold;
    margin-right: 5px;
    font-size: 20px;
    color: white;
}
.buscador label input{
    color: black;
    font-weight: normal;
}