<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
<h1>Home - Logueado</h1>
<h2>Logueado como <span th:text="${userLogueado.nombreTitular}"></span>de la empresa <span th:text="${userLogueado.nombreEmpresa}"></span></h2>
<h3 th:if="${userLogueado.rolUsuario == 1}">Comprador</h3>
<h3 th:if="${userLogueado.rolUsuario == 2}">Proveedor</h3>
<a href="/perfil">Ir al perfil</a>
<a href="/camara/proveedores">Crear Cámara</a>
<a href="/logout">Cerrar Sesión</a>


<div class="camaras">
    <p  class="titulo">Camaras:</p>
    <div style="background-color: rgba(127,255,0,0.55)" th:each="camara : ${camarasCreadas}">
        <p>Estado: <span th:text="${camara.estadoDeLaCamara}"></span></p>
        <p>Camara para comprar en <span th:text="${camara.proveedor.nombreEmpresa}"></span></p>
        <p>Creada por la empresa <span th:text="${camara.creador.nombreEmpresa}"></span></p>
        <p>Participantes: <span th:text="${camara.participantes.size()}"></span></p>
        <p>Fecha de expiración: <span th:text="${camara.fechaDeExpiracion}"></span></p>
        <a th:href="@{/camara/{idCamara}(idCamara=${camara.id})}">Ver</a>
    </div>
</div>


</body>

</html>