<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col justify-between min-h-[100vh]" id="body-id">
<header class="w-full h-[80px] bg-[#0A192F]">
    <nav class="flex justify-between items-center max-w-[1200px] mx-auto">
        <div class="flex justify-center items-center">
            <a href="/home">
                <img class="w-[100px] h-[80px]" src="https://res.cloudinary.com/dqudradf7/image/upload/v1695173785/Dise%C3%B1o_sin_t%C3%ADtulo_dw2lkk.svg" alt="Logo Coompitas">
            </a>
        </div>
        <div class="inline-block relative mt-[10px]">
            <img id="dropdown" class="rounded-full w-[50px] h-[50px] mb-3 transform transition duration-500 hover:scale-105" alt="Foto de perfil del usuario"
                 th:src="${userLogueado.urlFotoPerfil}">
            <div id="drop-items"
                 class="w-[200px] hidden justify-center flex-col gap-3 p-3 absolute right-0 overflow-auto bg-white shadow-lg rounded-md">
                <h2>Hola, <span th:text="${userLogueado.nombreEmpresa}"></span>!</h2>
                <hr>
                <a href="/perfil">Ir al perfil</a>
                <a th:if="${userLogueado.rolUsuario == 1}" href="/camara/proveedores">Crear Cámara</a>
                <a th:if="${userLogueado.rolUsuario == 1}" href="/catalogo/all/productos">Elegir por producto</a>
                <a href="/logout" class="font-bold text-red-500">Cerrar Sesión</a>
            </div>
        </div>
    </nav>
</header>

<main class="mx-auto max-w-[1200px]">
    <div class="flex flex-col justify-center mx-auto p-3 min-w-full">
        <!--Filtros para camaras-->
        <div class="flex flex-col md:flex-row w-full">
                <label>
                    Buscar por proveedor:
                    <input class="cursor-pointer mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" type="text" id="search-input-proveedor" placeholder="Terrabussi, Marolio">
                </label>

                <label>
                    Buscar por dirección de entrega:
                    <input class="cursor-pointer mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" type="text" id="search-input-direccion" placeholder="Buenos aires, Tigre">
                </label>
        </div>

        <!--Todas las camaras abiertas a nuevos usuarios-->

        <!--Contador de camaras activas-->
        <p>Camaras activas <span th:text="${camarasCreadas.size()}"></span></p>

        <!--Si hay camaras, las muestra.-->
        <div th:if="${camarasCreadas.size() > 0}" class="flex flex-col md:flex-row md:flex-wrap mt-2 min-w-full">
            <div class="camara flex flex-col justify-center items-center p-3 my-10 md:m-3 gap-1 shadow-lg rounded-xl max-w-[400px] max-h-[500px]" th:each="camara : ${camarasCreadas}">
                <img class="w-[70px] h-[70px] rounded-full" th:src="${camara.proveedor.urlFotoPerfil}"
                     alt="imagen de proveedor" src="">
                <p class="proveedor text-2xl font-bold" th:text="${camara.proveedor.nombreEmpresa}"></p>
                <p>Participantes: <span th:text="${camara.participantes.size()}"></span></p>
                <p>Fecha de expiración: <span th:text="${camara.fechaDeExpiracion}"></span></p>
                <div class="flex flex-col text-center">
                    <p>Dirección de entrega:</p>
                    <span class="direccion" th:text="${camara.direccionEnvio.pais} + ', ' + ${camara.direccionEnvio.provincia}+ ', ' + ${camara.direccionEnvio.ciudad}+ ', ' + ${camara.direccionEnvio.calle}"></span>
                </div>
                <div class="flex items-center gap-2">
                    <p>Creada por </p>
                    <img class="h-[30px]" th:src="${camara.creador.urlFotoPerfil}" alt="imagen de proveedor" src="">
                </div>
                <a class="cursor-pointer px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" th:href="@{/camara/{idCamara}(idCamara=${camara.id})}">Más Info</a>
            </div>
        </div>

        <!--Si no hay camaras, muestra el texto-->
        <div th:if="${camarasCreadas.size() == 0}">
            <p>No hay camaras disponibles</p>
        </div>
    </div>
</main>
<footer class="bg-[#0A192F] h-[80px] px-5 flex justify-center items-center">
    <ul class="flex justify-center items-center gap-5 text-white h-full max-w-[1200px] mx-auto">
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Terminos y condiciones</a></li>
    </ul>
</footer>
</body>
<script>
    <!--Esta el dropdown-->
    let bodyVariable = document.getElementById('body-id');
    let dropdown = document.getElementById('dropdown');
    let dropItems = document.getElementById('drop-items');
    let isOpen = false;

    dropdown.addEventListener('click', () => {
        if (isOpen === false) {
            dropItems.style.display = "flex";
            isOpen = true;
        } else {
            dropItems.style.display = "none";
            isOpen = false;
        }
    });

    bodyVariable.addEventListener('click', (e) => {
        const isClickInsideDropdown = dropdown.contains(e.target);

        if (!isClickInsideDropdown && isOpen) {
            dropItems.style.display = "none";
            isOpen = false;
        }
    });

    <!--Esta logica es para los filtros-->

    const search_input_proveedor = document.getElementById('search-input-proveedor');
    const search_input_direccion = document.getElementById('search-input-direccion');

    const camaras = document.querySelectorAll('.camara');

    search_input_proveedor.addEventListener('keyup', () => {
        const search_term = search_input_proveedor.value.toLowerCase();
        camaras.forEach((camara) => {
            const proveedor = camara.querySelector('.proveedor').textContent.toLowerCase();
            if (proveedor.indexOf(search_term) !== -1) {
                camara.style.display = 'block';
            } else {
                camara.style.display = 'none';
            }
        });
    });

    search_input_direccion.addEventListener('keyup', () => {
        const search_term = search_input_direccion.value.toLowerCase();
        camaras.forEach((camara) => {
            const direccion = camara.querySelector('.direccion').textContent.toLowerCase();
            if (direccion.indexOf(search_term) !== -1) {
                camara.style.display = 'block';
            } else {
                camara.style.display = 'none';
            }
        });
    });
</script>
</html>