<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="/stylesheets/hover.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="body">
<header class="w-full h-[80px]">
    <nav class="flex justify-between items-center max-w-[1200px] p-5 lg:p-3 mx-auto">
        <a href="/">
            <img
                class="w-[200px] xl:w-[150px]"
                src="https://res.cloudinary.com/dqudradf7/image/upload/v1695173785/Dise%C3%B1o_sin_t%C3%ADtulo_dw2lkk.svg"
                alt="coompitas_logo"
        />
        </a>

        <a class="text-white text-4xl lg:text-2xl xl:text-xl transform transition duration-300 hover:scale-105 hover:font-semibold" href="/login">Iniciar sesion</a>
    </nav>
</header>
<main class="main">
    <div id="form-comprador" class="register-container">
        <button class="switch-btn text-white font-semibold bg-[#03c2fc]" id="switch-vendedor">¿Quieres vender?</button>
        <h2 class="title">Comprador</h2>
        <form class="form" th:action="@{/user/register/1}" method="POST" th:object="${user}">
            <label class="label">
                Nombre de la empresa
                <input class="input" type="text" th:field="*{nombreEmpresa}" placeholder="Nombre de la Empresa">
                <label class="error" th:if="${#fields.hasErrors('nombreEmpresa')}" th:errors="*{nombreEmpresa}"></label>
            </label>
            <label class="label">
                Cuil
                <input class="input" type="text" th:field="*{cuitCuil}" placeholder="CUIT/CUIL">
                <label class="error" th:if="${#fields.hasErrors('cuitCuil')}" th:errors="*{cuitCuil}"></label>
            </label>
            <label class="label">
                Nombre del Titular
                <input class="input" type="text" th:field="*{nombreTitular}" placeholder="Nombre del Titular">
                <label class="error" th:if="${#fields.hasErrors('nombreTitular')}" th:errors="*{nombreTitular}"></label>
            </label>
            <label class="label">
                Email
                <input class="input" type="text" th:field="*{email}" placeholder="Email">
                <span class="error" th:if="${emailDuplicateError}" th:text="${emailDuplicateError}"></span>
                <label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
            </label>
            <label class="label">
                Teléfono
                <input class="input" type="text" th:field="*{telefono}" placeholder="Teléfono">
                <label class="error" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></label>
            </label>
            <label class="label">
                Contraseña
                <input class="input" type="password" th:field="*{password}" placeholder="Contraseña">
                <label class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
            </label>
            <label class="label">
                Confirmar contraseña
                <input class="input" type="password" th:field="*{passwordConfirmation}" placeholder="Repita la Contraseña">
                <label class="error" th:if="${#fields.hasErrors('passwordConfirmation')}"
                       th:errors="*{passwordConfirmation}"></label>
            </label>
            <a href="/login" class="login-link">¿Ya tienes cuenta? Inicia Sesión</a>
            <input class="register-btn" type="submit" value="Crear Cuenta">
        </form>

    </div>
    <div id="form-proveedor" class="register-container">
        <button id="switch-comprador" class="switch-btn">¿Quieres comprar?</button>
        <h2 class="title">Proveedor</h2>
        <form class="form" th:action="@{/user/register/2}" method="POST" th:object="${user}">
            <label class="label">
                Nombre de la empresa
                <input class="input" type="text" th:field="*{nombreEmpresa}" placeholder="Nombre de la Empresa">
                <label class="error" th:if="${#fields.hasErrors('nombreEmpresa')}" th:errors="*{nombreEmpresa}"></label>
            </label>
            <label class="label">
                Cuit
                <input class="input" type="text" th:field="*{cuitCuil}" placeholder="CUIT/CUIL">
                <label class="error" th:if="${#fields.hasErrors('cuitCuil')}" th:errors="*{cuitCuil}"></label>
            </label>
            <label class="label">
                Nombre del Titular
                <input class="input" type="text" th:field="*{nombreTitular}" placeholder="Nombre del Titular">
                <label class="error" th:if="${#fields.hasErrors('nombreTitular')}" th:errors="*{nombreTitular}"></label>
            </label>
            <label class="label">
                Email
                <input class="input" type="text" th:field="*{email}" placeholder="Email">
                <span class="error" th:if="${emailDuplicateError}" th:text="${emailDuplicateError}"></span>
                <label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
            </label>
            <label class="label">
                Teléfono
                <input class="input" type="text" th:field="*{telefono}" placeholder="Teléfono">
                <label class="error" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></label>
            </label>
            <label class="label">
                Contraseña
                <input class="input" type="password" th:field="*{password}" placeholder="Contraseña">
                <label class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
            </label>
            <label class="label">
                Confirmar contraseña
                <input class="input" type="password" th:field="*{passwordConfirmation}" placeholder="Repita la Contraseña">
                <label class="error" th:if="${#fields.hasErrors('passwordConfirmation')}"
                       th:errors="*{passwordConfirmation}"></label>
            </label>
            <a href="/login" class="login-link">¿Ya tienes cuenta? Inicia Sesión</a>
            <input class="register-btn" type="submit" value="Crear Cuenta">
        </form>
    </div>
    <div class="efecto-bottom"></div>
</main>
</body>
<script>
    let comprador = document.getElementById("form-comprador");
    let proveedor = document.getElementById("form-proveedor");
    let switchComprador = document.getElementById("switch-comprador");
    let switchVendedor = document.getElementById("switch-vendedor");

    switchVendedor.addEventListener("click", () => {
        comprador.style.display = "none";
        proveedor.style.display = "flex";
    })

    switchComprador.addEventListener("click", () => {
        proveedor.style.display = "none";
        comprador.style.display = "flex";
    })
</script>
</html>