<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
<h1>Registro</h1>
<form th:action="@{/user/register}" method="POST" th:object="${user}">

    <label>
        Nombre de Empresa:
        <input type="text" th:field="*{nombreEmpresa}">
        <br>
        <label style="color: red" th:if="${#fields.hasErrors('nombreEmpresa')}" th:errors="*{nombreEmpresa}"></label>
    </label>
    <br>
    <label>
        CUIT/CUIL:
        <input type="text" th:field="*{cuitCuil}">
        <br>
        <label style="color: red" th:if="${#fields.hasErrors('cuitCuil')}" th:errors="*{cuitCuil}"></label>
    </label>
    <br>
    <label>
        Nombre del Titular:
        <input type="text" th:field="*{nombreTitular}">
        <br>
        <label style="color: red" th:if="${#fields.hasErrors('nombreTitular')}" th:errors="*{nombreTitular}"></label>
    </label>
    <br>
    <label>
        Email:
        <input type="text" th:field="*{email}">
        <br>
        <span style="color: red" th:if="${emailDuplicateError}" th:text="${emailDuplicateError}"></span>
        <label style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
    </label>
    <br>
    <label>
        Teléfono:
        <input type="text" th:field="*{telefono}">
        <br>
        <label style="color: red" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></label>
    </label>
    <br>
    <label>
        Contraseña:
        <input type="password" th:field="*{password}">
        <br>
        <label style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
    </label>
    <br>
    <label>
        Repita la Contraseña:
        <input type="password" th:field="*{passwordConfirmation}">
        <br>
        <label style="color: red" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"></label>
    </label>
    <br>
    <label>
        Tipo de Cuenta:
        <input type="radio" th:field="*{rolUsuario}" th:value="1"> Comprador
        <input type="radio" th:field="*{rolUsuario}" th:value="2"> Proveedor
        <br>
        <label style="color: red" th:if="${#fields.hasErrors('rolUsuario')}" th:errors="*{rolUsuario}"></label>
    </label>
    <br>
    <input type="submit" value="Crear Cuenta">
</form>
<a href="/login">¿Ya tienes cuenta? Inicia Sesión</a>
</body>
</html>