<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catalogo Proveedor</title>
</head>
<body>
<h1>Catálogo <span th:text="${userProveedor.nombreEmpresa}"></span></h1>
<form th:action="@{/camara/proveedores/crear/{idProveedor}(idProveedor=${userProveedor.id})}" method="POST" th:object="${camara}">
    <label>
        Fecha de expiración:
        <input type="date" th:field="*{fechaDeExpiracion}">
    </label>
    <input type="submit" value="Crear Cámara">
</form>

</body>
</html>