<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<style>
    .hidden{
        display: none;
    }
</style>
<body>
<h1>Todos los productos</h1>
<input type="text" id="search_input" placeholder="Busque un producto...">
<ul class="lista_categorias">
    <li th:each="producto : ${productos}" >
        <button class="categoriaBtn" th:text="${producto.categoria}"></button>
    </li>
    <li>
        <button id="restet_filtros">Mostrar Todos</button>
    </li>
</ul>
<ul class="lista_productos">
    <li class="producto" th:each="producto : ${productos}">
        <img style="width: 130px"  th:src="${producto.imagen}" alt="imagen del producto" src="">
        <p class="producto_nombre" th:text="${producto.nombre}"></p>
        <p>$ <span th:text="${producto.precio}"></span></p>
        <p class="producto_categoria hidden" th:text="${producto.categoria}"></p>
        <p th:each="descCant : ${producto.getCantidadesDescuentos()}">Llevando más de <span
                th:text="${descCant.cantidad}"></span> tienes un <span th:text="${descCant.descuentoAplicado}"></span>%
            de descuento</p>
        <p>Proveedor: <span th:text="${producto.proveedor.nombreEmpresa}"></span></p>
        <img style="width: 60px"  th:src="${producto.proveedor.urlFotoPerfil}" alt="" src="">
        <a th:href="@{/camara/proveedores/catalogo/{idProveedor}(idProveedor=${producto.proveedor.id})}">Abrir Cámara al Proveedor</a>
        <a href="/home">Unirse a Cámara del proveedor</a>
    </li>
</ul>
<script>
    const search_input = document.getElementById('search_input');
    const productos = document.querySelectorAll('.producto');
    const categoriasBtn = document.querySelectorAll('.categoriaBtn');
    const reset_filtros = document.getElementById('restet_filtros');

    search_input.addEventListener('keyup', () => {
        const search_term = search_input.value.toLowerCase();
        productos.forEach((producto) => {
            const title = producto.querySelector('.producto_nombre').textContent.toLowerCase();
            if (title.indexOf(search_term) !== -1) {
                producto.style.display = 'block';
            } else {
                producto.style.display = 'none';
            }
        });
    });

    const categoriasVistas = {};

    categoriasBtn.forEach((botonCategoria) => {
        const categoriaValue = botonCategoria.textContent;

        if (categoriasVistas[categoriaValue]) {
            botonCategoria.parentElement.remove();
        } else {
            categoriasVistas[categoriaValue] = true;

            botonCategoria.addEventListener('click', () => {
                const categoria = botonCategoria.textContent;
                productos.forEach((producto) => {
                    const categoriaProducto = producto.querySelector('.producto_categoria').textContent;
                    if (categoriaProducto === categoria) {
                        producto.style.display = 'block';
                    } else {
                        producto.style.display = 'none';
                    }
                });
            });
        }
    });

    reset_filtros.addEventListener('click', () => {
        productos.forEach((producto) => {
            producto.style.display = 'block';
        });
    });
</script>
</body>
</html>
