<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catalogo Proveedor</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/catalogoProveedorPage.css">
</head>


<body>
<header class="w-full h-[80px] bg-[#0A192F]">
    <nav class="flex justify-between items-center max-w-[1200px] mx-auto">
        <div class="flex justify-center items-center">
            <a href="/home">
                <img class="w-[100px] h-[80px]"
                     src="https://res.cloudinary.com/dqudradf7/image/upload/v1695173785/Dise%C3%B1o_sin_t%C3%ADtulo_dw2lkk.svg"
                     alt="Logo Coompitas">
            </a>
        </div>
        <div class="inline-block relative mt-[10px]">
            <img id="dropdown" class="rounded-full w-[50px] h-[50px] mb-3 transform transition duration-500 hover:scale-105" alt="Foto de perfil del usuario"
                 th:src="${userLogueado.urlFotoPerfil}">
            <div id="drop-items"
                 class="w-[200px] justify-center hidden flex-col gap-3 p-3 absolute right-0 overflow-auto bg-white shadow-lg rounded-md">
                <h2>Hola, <span th:text="${userLogueado.nombreEmpresa}"></span>!</h2>
                <hr>
                <a href="/perfil">Ir al perfil</a>
                <a th:if="${userLogueado.rolUsuario == 1}" href="/camara/proveedores">Crear Cámara</a>
                <a th:if="${userLogueado.rolUsuario == 1}" href="/catalogo/all/productos">Elegir por producto</a>
                <a href="/logout" class="font-bold text-red-500">Cerrar Sesión</a>
            </div>
        </div>
    </nav>
</header>

<div class="main-container">
    <div class="cont-inicial">
        <h1>Catálogo <span th:text="${userProveedor.nombreEmpresa}"></span></h1>
        <img style="width: 120px;border-radius: 50%" th:src="${userProveedor.urlFotoPerfil}" alt="" src="">
    </div>
    <div class="cont-horizontal">
        <div class="contenedor-principal">

            <div class="producto" th:each="producto : ${userProveedor.productos}">
                <img style="width: 130px" th:src="${producto.imagen}" alt="imagen del producto" src="">
                <p class="nombre" th:text="${producto.nombre}"></p>
                <p>Stock: <span th:text="${producto.stock}"></span></p>
                <p>$ <span th:text="${producto.precio}"></span></p>

                <p class="descuentos" th:each="descCant : ${producto.getCantidadesDescuentos()}">+ <span
                        th:text="${descCant.cantidad}"></span> unidades <span
                        th:text="${descCant.descuentoAplicado}"></span> % OFF</p>

                <form th:action="@{/crear/{idProveedor}/pedido(idProveedor=${userProveedor.id})}" method="POST">
                    <input type="hidden" name="idProducto" th:value="${producto.id}"/>


                    <div class="cont-btnes">
                        <input type="number" id="cantidad" name="cantidad">
                        <input id="agregar-btn" type="submit" value="&#43;">
                    </div>

                </form>
            </div>

        </div>
        <div class="cont-secundario">
            <div class="adentro-secundario">
                <div class="carrito">
                    <div th:each="registro : ${carrito}">
                        <p class="carrito_textos"><span class="carrito_textos" th:text="${registro.cantidad}"></span> x <span
                                th:text="${registro.producto.nombre}"></span> = $<span
                                th:text="${registro.precioProductos}"></span> <span
                                th:if="${registro.descuentoVigente > 0}"
                                style="color: #e14b4b"
                                th:text="'% ' + ${registro.descuentoVigente} + ' OFF'"></span>

                        </p>
                    </div>
                    <p class="carrito_textos">Total: $<span  th:text="${pedidoEnProceso.precioTotal}"></span></p>
                </div>

                <div th:if="${anexandoComprador}">
                    <p>ANEXANDO COMPRADOR</p>
                    <form th:action="@{/unirse/agregarUsuario/{idCamara}(idCamara=${camara.id})}" method="POST"
                          th:object="${camara}">
                        <div class="btn-crearcam">
                            <input type="submit" value="Unirse">
                        </div>
                    </form>
                </div>
                <div th:unless="${anexandoComprador}">
                    <p>CREANDO CAMARA</p>
                    <form th:action="@{/camara/proveedores/crear/{idProveedor}(idProveedor=${userProveedor.id})}"
                          method="POST"
                          th:object="${camara}">

                        <div class="cont-inputs">
                            <label>
                                Fecha de expiración:
                                <input class="mt-1 px-3 py-2 bg-white text-black border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" type="date" th:field="*{fechaDeExpiracion}">
                            </label>
                            <label>
                                Dirección de entrega:
                                <select class="cursor-pointer mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 text-black placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" id="direccionEnvio" name="direccionId">
                                    <option style="color: #000" th:each="direccion : ${userLogueado.direcciones}"
                                            th:value="${direccion.id}"
                                            th:text="${direccion.pais}+' - '+${direccion.provincia}+' - '+${direccion.ciudad}+' - Calle '+${direccion.calle}">
                                    </option>
                                </select>
                            </label>
                        </div>

                        <div class="btn-crearcam">
                            <input type="submit" value="Crear Cámara">
                        </div>

                    </form>

                </div>

                <div class="btn-cancelar">
                    <a th:href="@{/pedido/cancelar/{idPedido}(idPedido=${pedidoEnProceso.id})}">Cancelar</a>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="bg-[#0A192F] h-[80px] px-5 flex justify-center items-center">
    <ul class="flex justify-center items-center gap-5 text-white h-full max-w-[1200px] mx-auto">
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Terminos y condiciones</a></li>
    </ul>
</footer>
</body>
<script>
    <!--Esta el dropdown-->
    let bodyVariable = document.getElementById('body-id');
    let dropdown = document.getElementById('dropdown');
    let dropItems = document.getElementById('drop-items');
    let isOpen = false;

    dropdown.addEventListener('click', () => {
        if (isOpen === false) {
            dropItems.style.display = "flex";
            isOpen = true;
        } else {
            dropItems.style.display = "none";
            isOpen = false;
        }
    });

    bodyVariable.addEventListener('click', (e) => {
        const isClickInsideDropdown = dropdown.contains(e.target);

        if (!isClickInsideDropdown && isOpen) {
            dropItems.style.display = "none";
            isOpen = false;
        }
    });
</script>
</html>