<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<style>
.hidden{
    display: none;
}
</style>
<body>
<h1>Todos los productos</h1>
<input type="text" id="search_input" placeholder="Busque un producto...">
<ul class="lista_categorias">
    <li th:each="producto : ${productos}">
        <span class="categoria" th:text="${producto.categoria}"></span>
    </li>
</ul>
<ul class="lista_prodcutos">
    <li class="producto" th:each="producto : ${productos}">
        <img style="width: 130px"  th:src="${producto.imagen}" alt="imagen del producto" src="">
        <p class="producto_nombre" th:text="${producto.nombre}"></p>
        <p>$ <span th:text="${producto.precio}"></span></p>
        <p class="producto_categoria hidden" th:text="${producto.categoria}"></p>
        <p th:each="descCant : ${producto.getCantidadesDescuentos()}">Llevando mas de <span
                th:text="${descCant.cantidad}"></span> tienes un <span th:text="${descCant.descuentoAplicado}"></span>%
            de descuento</p>
        <p>Proveedor: <span th:text="${producto.proveedor.nombreEmpresa}"></span></p>
        <img style="width: 60px"  th:src="${producto.proveedor.urlFotoPerfil}" alt="" src="">
        <a th:href="@{/camara/proveedores/catalogo/{idProveedor}(idProveedor=${producto.proveedor.id})}">Abrir Cámara al Proveedor</a>
        <a href="/home">Unirse a Cámara del proveedor</a>
    </li>
</ul>
</body>
<script>
    const search_input = document.getElementById('search_input');
    const lista_productos = document.querySelector('.lista_prodcutos');
    const productos = document.querySelectorAll('.producto');
    const categorías = document.querySelectorAll('.producto_categoria');

    search_input.addEventListener('keyup', () => {
        const search_term = search_input.value.toLowerCase();
        for (let i = 0; i < productos.length; i++) {
            const title = productos[i].querySelector('.producto_nombre').textContent.toLowerCase();
            if (title.indexOf(search_term) != -1) {
                productos[i].style.display = 'block';
            } else {
                productos[i].style.display = 'none';
            }
        }
    });
</script>
</html>