<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagar Pedido</title>
</head>
<body>
<header class="w-full h-[80px] bg-black">
    <nav class="flex justify-between items-center max-w-[1200px] mx-auto">
        <div class="flex justify-center items-center">
            <a href="/home">
                <img class="w-[100px] h-[80px]" src="https://res.cloudinary.com/dqudradf7/image/upload/v1695173785/Dise%C3%B1o_sin_t%C3%ADtulo_dw2lkk.svg" alt="Logo Coompitas">
            </a>
        </div>
        <div class="inline-block relative mt-[5px]">
            <img id="dropdown" class="rounded-full w-[50px] h-[50px] mb-3" alt="Foto de perfil del usuario"
                 th:src="${userLogueado.urlFotoPerfil}">
            <div id="drop-items"
                 class=" w-[130px] justify-center hidden flex-col gap-3 p-3 absolute right-0 overflow-auto bg-white border border-black rounded-md">
                <h2>Hola, <span th:text="${userLogueado.nombreEmpresa}"></span>!</h2>
                <hr>
                <a href="/perfil">Ir al perfil</a>
                <a th:if="${userLogueado.rolUsuario == 1}" href="/camara/proveedores">Crear Cámara</a>
                <a th:if="${userLogueado.rolUsuario == 1}" href="/catalogo/all/productos">Elegir por producto</a>
                <a href="/logout" class="font-bold text-red-500">Cerrar Sesión</a>
            </div>
        </div>
    </nav>
</header>
  <h1>Pagar Pedido</h1>
  <p>Usted pidió estos productos:</p>
  <p th:each="relacion : ${carrito}">
    <span th:text="${relacion.producto.nombre}"></span> x <span th:text="${relacion.cantidad}"></span> = $<span th:text="${relacion.precioProductos}"></span>
    <span th:if="${relacion.descuentoVigente > 0}"
      style="color: red"
      th:text="'% ' + ${relacion.descuentoVigente} + ' OFF'"></span>
  </p>
  <p>El costo de sus productos es: $<span th:text="${pedido.precioTotal}"></span></p>
  <p>Costo de envío: <span th:text="${camara.precioEnvio/camara.participantes.size()}"></span></p>
  <h2>Usted Paga: <span th:text="${pedido.precioTotal+(camara.precioEnvio/camara.participantes.size())}"></span></h2>
  <h2>Complete los datos de su tarjeta de credito o debito</h2>
  <form th:action="@{/pagar/pedido/{idPedido}(idPedido = ${pedido.id})}" method="POST">
      <input type="submit" value="PAGAR PEDIDO">
  </form>
</body>
</html>