<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Coompitas</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      video::-webkit-media-controls {
        display: none;
      }
    </style>
  </head>
  <body class="w-full h-screen bg-[#0A192F] text-[#CEDCF9]">
    <!-- Navbar -->
    <header class="w-full h-[150px] bg-black">
      <nav class="flex justify-between items-center mx-10 p-5">
        <img
          class="w-[150px] h-[100px]"
          src="./logo_coompitas.png"
          alt="coompitas_logo"
        />
        <a class="text-[37px]" href="/login">Iniciar sesion</a>
      </nav>
    </header>

    <!-- Main content -->
    <main class="flex flex-col justify-center items-center mt-[150px] md:mt-[250px] px-5">
      <section class="flex flex-col md:flex-row justify-center lg:gap-10 items-center mb-[150px] md:mb-[250px] w-full">
        <div class="flex flex-col justify-center items-center text-center">
          <h1 class="text-7xl lg:text-[100px] mb-5">No compitas, haz compitas</h1>
          <p class="text-3xl lg:text-5xl mb-5 max-w-[1000px]">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dignissimos expedita explicabo impedit odio praesentium quas ratione
          </p>
          <a
            class="bg-gray-500 p-4 text-3xl lg:text-5xl rounded-sm"
            href="/registration"
            >Registrarse</a
          >
        </div>
        <img
          class="hidden lg:block md:min-w-[700px]"
          src="./illustration.png"
          alt="imagen_ilustrativa"
        />
      </section>
      <section class="flex flex-col justify-center items-center text-center mb-[150px] lg:w-full">
        <h2 class="text-6xl lg:text-7xl mb-5 md:mb-10">¿Como funcionamos?</h2>
        <video
          class="w-full lg:w-[1500px] mb-5 md:mb-10"
          src="./cat-video.mp4"
          autoplay
          loop
          preload="auto"
        ></video>
        <p class="text-3xl w-[1000px]">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium,
          adipisci alias asperiores atque autem cumque cupiditate
        </p>
      </section>

      <section class="flex flex-col justify-center items-center">
        <h3 class="text-5xl mb-10">Sobre Nosotros</h3>
        <!-- Carrousel -->
        <div>
          <div class="flex flex-col justify-center self-center gap-5 p-5 m-5 text-black text-center bg-white w-[350px]">
            <img src="../static/illustration.png" alt="Imagen de muestra" />
            <h3 class="text-5xl">Titulo</h3>
            <p class="text-2xl">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusantium, adipisci alias asperiores atque autem cumque
              cupiditate.
            </p>
            <a href="#" class="text-2xl">Ver más...</a>
          </div>
          <div class="flex flex-col justify-center self-center gap-5 p-5 m-5 text-black text-center bg-white w-[350px]">
            <img src="../static/illustration.png" alt="Imagen de muestra" />
            <h3 class="text-5xl">Titulo</h3>
            <p class="text-2xl">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusantium, adipisci alias asperiores atque autem cumque
              cupiditate.
            </p>
            <a href="#" class="text-2xl">Ver más...</a>
          </div>
          <div class="flex flex-col justify-center self-center gap-5 p-5 m-5 text-black text-center bg-white w-[350px]">
            <img src="../static/illustration.png" alt="Imagen de muestra" />
            <h3 class="text-5xl">Titulo</h3>
            <p class="text-2xl">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusantium, adipisci alias asperiores atque autem cumque
              cupiditate.
            </p>
            <a href="#" class="text-2xl">Ver más...</a>
          </div>
        </div>
      </section>
    </main>
    <footer class="flex justify-between items-center bg-black h-[150px] px-5">
      <ul class="hidden">
        <li>
          <a href=""><img src="" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="" alt="" /></a>
        </li>
      </ul>
      <div class="flex flex-col items-center justify-center">
        <img class="w-[70px] h-[50px]" src="./logo_coompitas.png" alt="coompitas_logo" />
        <p>© 2023 Coompitas</p>
      </div>
      <ul class="flex gap-5">
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Terminos y condiciones</a></li>
      </ul>
    </footer>
  </body>
</html>
