<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil - Coompitas</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col justify-between w-full" id="body-id">
<header class="w-full h-[80px] bg-black">
    <nav class="flex justify-between items-center max-w-[1200px] mx-auto">
        <div class="flex justify-center items-center">
            <a href="/home">
                <img class="w-[100px] h-[80px]" src="https://res.cloudinary.com/dqudradf7/image/upload/v1695173785/Dise%C3%B1o_sin_t%C3%ADtulo_dw2lkk.svg" alt="Logo Coompitas">
            </a>
        </div>
        <div class="inline-block relative mt-[5px]">
            <img id="dropdown" class="rounded-full w-[50px] h-[50px] mb-3" alt="Foto de perfil del usuario"
                 th:src="${userLogueado.urlFotoPerfil}">
            <div id="drop-items"
                 class=" w-[130px] justify-center hidden flex-col gap-3 p-3 absolute right-0 overflow-auto bg-white border border-black rounded-md">
                <h2>Hola, <span th:text="${userLogueado.nombreEmpresa}"></span>!</h2>
                <hr>
                <a href="/perfil">Ir al perfil</a>
                <a th:if="${userLogueado.rolUsuario == 1}" href="/camara/proveedores">Crear Cámara</a>
                <a th:if="${userLogueado.rolUsuario == 1}" href="/catalogo/all/productos">Elegir por producto</a>
                <a href="/logout" class="font-bold text-red-500">Cerrar Sesión</a>
            </div>
        </div>
    </nav>
</header>

<main class="mx-auto max-w-[1200px] lg:w-[1200px] my-10">
    <section class="w-full flex flex-col md:flex-row">
        <div class="flex flex-col items-center lg:mr-10">
            <div class="inline-block relative">
                <img class="w-[120px] h-[120px] rounded-full" th:src="${userLogueado.urlFotoPerfil}" alt="" src="">
                <div class="absolute right-1 bottom-1 bg-white rounded-full p-1 border border-black transform transition duration-300 hover:scale-105" id="edit-btn">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M9.65661 17L6.99975 17L6.99975 14M6.10235 14.8974L17.4107 3.58902C18.1918 2.80797 19.4581 2.80797 20.2392 3.58902C21.0202 4.37007 21.0202 5.6364 20.2392 6.41745L8.764 17.8926C8.22794 18.4287 7.95992 18.6967 7.6632 18.9271C7.39965 19.1318 7.11947 19.3142 6.8256 19.4723C6.49475 19.6503 6.14115 19.7868 5.43395 20.0599L3 20.9998L3.78312 18.6501C4.05039 17.8483 4.18403 17.4473 4.3699 17.0729C4.53497 16.7404 4.73054 16.424 4.95409 16.1276C5.20582 15.7939 5.50466 15.4951 6.10235 14.8974Z"
                                  stroke="#000000" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="hidden flex-col drop-shadow-md p-3" id="foto-input">
                <form class="flex flex-col p-3" action="/user/perfil/foto" method="POST">
                    <label>
                        URL Foto:
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               type="text" name="url">
                    </label>
                    <input class="bg-blue-400 hover:bg-blue-500" type="submit" value="Editar Foto">
                </form>
                <!--Boton para cerrar el form de la foto-->
                <button class="bg-red-500 hover:bg-red-600" id="close-form">Cancel</button>
            </div>
        </div>
        <div class="flex flex-col justify-center">
            <div>
                <p>
                    <span class="capitalize text-3xl font-semibold" th:text="${userLogueado.nombreEmpresa}"></span> -
                    <span class="lowercase text-2xl text-gray-500" th:if="${userLogueado.rolUsuario == 1}">Comprador</span>
                    <span class="lowercase text-2xl text-gray-500" th:if="${userLogueado.rolUsuario == 2}">Proveedor</span>
                </p>
            </div>
            <p class="my-2" th:text="${userLogueado.email}"></p>
            <div>
                <a class="text-white bg-blue-400 rounded-md py-1 px-3 transform transition duration-300 hover:scale-105 hover:font-semibold hover:bg-blue-500" href="/perfil/direcciones">Direcciones</a>
                <a class="text-white bg-blue-400 rounded-md py-1 px-3 transform transition duration-300 hover:scale-105 hover:font-semibold hover:bg-blue-500" th:if="${userLogueado.rolUsuario == 2}" href="/perfil/productos">Productos</a>
            </div>
        </div>
    </section>

    <div class="flex justify-center items-center max-w-[350px]" th:if="${userLogueado.direcciones.size() == 0}">
        <h1 class="text-3xl">Para operar en la app debes registrar por lo menos una dirección! Adelante:</h1>
        <form class="flex flex-col justify-center items-center" th:action="@{/direccion/create}" method="POST" th:object="${direccion}">
            <label class="flex flex-col">
                Pais:
                <input type="text" th:field="*{pais}">
                <label style="color: red" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></label>
            </label>

            <label class="flex flex-col">
                Provincia:
                <input type="text" th:field="*{provincia}">
                <label style="color: red" th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></label>
            </label>

            <label class="flex flex-col">
                Ciudad:
                <input type="text" th:field="*{ciudad}">
                <span style="color: red" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></span>
            </label>

            <label class="flex flex-col">
                Codigo Postal:
                <input type="text" th:field="*{codigoPostal}">
                <label style="color: red" th:if="${#fields.hasErrors('codigoPostal')}" th:errors="*{codigoPostal}"></label>
            </label>

            <label class="flex flex-col">
                Calle:
                <input type="text" th:field="*{calle}">
                <label style="color: red" th:if="${#fields.hasErrors('calle')}" th:errors="*{calle}"></label>
            </label>

            <input type="submit" value="Guardar Dirección">
        </form>
    </div>

    <!--CAMARAS DEL PROVEEDOR-->
    <section class="w-full flex flex-col justify-center items-center">
        <div class="p-2 flex flex-col w-full" th:unless="${userLogueado.direcciones.size() == 0}">
            <div class="w-full bg-[#172b46] p-2 rounded-md my-5" th:if="${userLogueado.rolUsuario == 2}">
                <h2 class="text-3xl text-white text-center font-bold">Camaras Proveidas</h2>
            </div>
            <div class="flex flex-col gap-5 w-full" th:if="${camarasProveidas}">
                <div class="flex flex-col md:flex-row justify-between items-center p-5 border-black border" th:each="camara : ${camarasProveidas}">
                    <div class="flex flex-col md:flex-row gap-3">
                        <div class="flex flex-col justify-center items-center">
                            <img class="w-[70px] h-[70px] rounded-full" th:src="${camara.creador.urlFotoPerfil}" alt="" src="">

                            <!--VALIDACIONES-->
                            <div class="max-w-[200px] text-center">
                                <p class="bg-red-500 text-white rounded-md p-1" th:if="${camara.estadoDeLaCamara == -1}">CÁMARA CANCELADA</p>
                                <p class="bg-red-500 text-white rounded-md" th:if="${camara.estadoDeLaCamara == -2}">CÁMARA RECHAZADA</p>
                                <p class="bg-yellow-500 text-black rounded-md" th:if="${camara.estadoDeLaCamara == 1}">PENDIENTE DE ACEPTACIÓN</p>
                                <p class="bg-green-500 text-white rounded-md" th:if="${camara.estadoDeLaCamara == 2}">RECIBIENDO PARTICIPANTES</p>
                                <p class="bg-yellow-500 text-black rounded-md" th:if="${camara.estadoDeLaCamara == 3}">ESPERANDO REFORMULACIÓN DE COSTO DE ENVÍO</p>
                                <p class="bg-yellow-500 text-black rounded-md" th:if="${camara.estadoDeLaCamara == 4}">ESPERANDO QUE SE EFECTÚEN TODOS LOS PAGOS</p>
                                <p class="bg-yellow-500 text-black rounded-md" th:if="${camara.estadoDeLaCamara == 5}">ESPERANDO QUE EL PROVEEDOR ENVÍE LA CÁMARA DE PEDIDOS</p>
                                <p class="bg-green-500 text-white rounded-md" th:if="${camara.estadoDeLaCamara == 6}">CAMARA DE PEDIDOS EN CAMINO!</p>
                                <p class="text-white bg-green-500" th:if="${camara.estadoDeLaCamara == 6}">
                                    Fecha aproximada de llegada:
                                    <span th:text="${camara.fechaDeLlegada}"></span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <p>Dirección de envío: </p>
                            <span th:text="${camara.direccionEnvio.calle} +', '+${camara.direccionEnvio.ciudad}+', '+${camara.direccionEnvio.provincia}+', '+${camara.direccionEnvio.pais} "></span>
                            <p>Empresa: <span th:text="${camara.creador.nombreEmpresa}"></span></p>
                            <p>Titular: <span th:text="${camara.creador.nombreTitular}"></span></p>
                            <p>Telefono: <span th:text="${camara.creador.telefono}"></span></p>
                            <p>Participantes de la cámara: <span th:text="${camara.participantes.size()}"></span></p>
                        </div>
                    </div>
                    <div th:if="${camara.estadoDeLaCamara == 4 || camara.estadoDeLaCamara == 5}">
                        <p th:each="participante : ${camara.participantes}">- Pedido de
                            <span th:text="${participante.nombreEmpresa}"></span>:
                            <span th:each="pedidoDelParticipante : ${participante.pedidos}"
                                  th:if="${pedidoDelParticipante.camara == camara}">
                            <span class="text-green-500"
                                  th:if="${pedidoDelParticipante.estadoDelPedido == 2}">PAGADO</span>
                            <span class="text-red-500"
                                  th:if="${pedidoDelParticipante.estadoDelPedido == 1}">ESPERANDO PAGO</span>
                            </span>
                        </p>
                        <p>Fecha de expiración: <span th:text="${camara.fechaDeExpiracion}"></span></p>
                        <p th:if="${camara.estadoDeLaCamara != 1}">Precio de envio: <span
                                th:text="${camara.precioEnvio}"></span>
                        </p>

                        <form class="flex flex-col gap-2" th:if="${camara.estadoDeLaCamara == 5}" th:action="@{/camara/{idCamara}/enviar(idCamara = ${camara.id})}" method="POST">
                            <div class="flex flex-col">
                                <label>Fecha de llegada estimada:</label>
                                <input class="cursor-pointer mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400" type="date" name="fechaDeLlegada">
                            </div>

                            <input class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" value="CÁMARA EN CAMINO">
                        </form>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="flex flex-col items-center mb-2" th:if="${camara.estadoDeLaCamara == 1 }">
                            <form class="flex flex-col items-center gap-2" th:action="@{/perfil/camara/confirmacion/{idCamara}(idCamara =${camara.id})}" method="POST">
                                <div class="flex flex-col">
                                    <label>Precio de envio inicial:</label>
                                    <input class="cursor-pointer mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" type="number" name="precioEnvio" placeholder="Precio de envio">
                                </div>

                                <input class="cursor-pointer px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" value="Confirmar">
                            </form>
                            <form th:action="@{/camara/proveedor/anular/{idCamara}(idCamara = ${camara.id})}" method="POST">
                                <input class="cursor-pointer bg-red-500 text-white py-1 px-3 rounded-md transform transition duration-300 hover:scale-105 hover:font-semibold" type="submit" value="Cancelar cámara">
                            </form>
                        </div>
                        <div th:if="${camara.estadoDeLaCamara == 3 }">
                            <form class="flex flex-col items-center gap-2" th:action="@{/perfil/camara/confirmacion/{idCamara}(idCamara =${camara.id})}" method="POST">
                                <div class="flex flex-col">
                                    <label>Reformular Precio de envio:</label>
                                    <input class="cursor-pointer mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" type="number" name="precioEnvio" placeholder="Reformular envio">
                                </div>

                                <input class="cursor-pointer px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" value="Confirmar">
                            </form>
                        </div>
                        <a class="text-center text-white py-2 px-3 bg-blue-500 rounded-md transform transition duration-300 hover:scale-105 hover:font-semibold" th:href="@{camara/{idCamara}(idCamara=${camara.id})}">Ver Detalles</a>
                    </div>
                </div>
                <div class="w-full bg-red-500 p-2" th:if="${camarasProveidas.size() == 0}">
                    <p class="text-white text-center">Aún no te han solicitado cámaras</p>
                </div>
            </div>

            <!--CAMARAS DE COMPRADOR-->
            <div class="p-2 flex flex-col w-full">
                <div class="w-full bg-[#172b46] p-2 rounded-md my-5" th:if="${userLogueado.rolUsuario == 1}">
                    <h3 class="text-3xl text-white text-center font-bold">Las cámaras que gestionas</h3>
                </div>
                <div class="flex flex-col gap-5 w-full" th:if="${camarasCreadas}">
                    <div th:class="${camara.estadoDeLaCamara == 1} ? 'pendiente flex flex-col md:flex-row justify-between items-center p-5 border-black border' : ${camara.estadoDeLaCamara == -1 || camara.estadoDeLaCamara == -2 ? 'cancelada flex flex-col md:flex-row justify-between items-center p-5 border-black border' : 'aceptada flex flex-col md:flex-row justify-between items-center p-5 border-black border'}" th:each="camara : ${camarasCreadas}">
                        <div class="flex flex-col md:flex-row items-center gap-3">
                            <div class="flex flex-col justify-center items-center">
                                <img class="w-[70px] h-[70px] rounded-full" th:src="${camara.proveedor.urlFotoPerfil}" alt="" src="">

                                <div class="flex flex-col justify-center items-center max-w-[200px] text-center">
                                    <!--VALIDACIONES-->
                                    <p class="bg-red-500 text-white rounded-md p-1" th:if="${camara.estadoDeLaCamara == -1}">CÁMARA CANCELADA</p>
                                    <p class="bg-red-500 text-white rounded-md" th:if="${camara.estadoDeLaCamara == -2}">CÁMARA RECHAZADA POR PROVEEDOR</p>
                                    <p class="bg-yellow-500 text-black rounded-md" th:if="${camara.estadoDeLaCamara == 1}">PENDIENTE DE ACEPTACIÓN</p>
                                    <p class="bg-green-500 text-white rounded-md" th:if="${camara.estadoDeLaCamara == 2}">RECIBIENDO PARTICIPANTES</p>
                                    <p class="bg-yellow-500 text-black rounded-md" th:if="${camara.estadoDeLaCamara == 3}">ESPERANDO COTIZACIÓN DE ENVÍO</p>
                                    <p class="bg-yellow-500 text-black rounded-md" th:if="${camara.estadoDeLaCamara == 4}">ESPERANDO EL PAGO DE LOS PARTICIPANTES</p>
                                    <p class="bg-yellow-500 text-black rounded-md" th:if="${camara.estadoDeLaCamara == 5}">ESPERANDO QUE EL PROVEEDOR ENVÍE LA CÁMARA DE PEDIDOS</p>
                                    <p class="bg-green-500 text-white rounded-md" th:if="${camara.estadoDeLaCamara == 6}">CAMARA DE PEDIDOS EN CAMINO!</p>
                                    <img style="width: 100px" th:if="${camara.estadoDeLaCamara == 1 || camara.estadoDeLaCamara == 3 || camara.estadoDeLaCamara == 4 || camara.estadoDeLaCamara == 5}" src="https://i.gifer.com/origin/ea/ea3fa7a07d9cb563d67168a6e45ed4e1.gif" alt="">

                                    <p th:if="${camara.estadoDeLaCamara == 6}">
                                        Fecha aproximada de llegada:
                                        <span th:text="${camara.fechaDeLlegada}"></span>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <p>Estado: <span th:text="${camara.estadoDeLaCamara}"></span></p>
                                <p>Proveedor: <span th:text="${camara.proveedor.nombreEmpresa}"></span></p>
                            </div>
                        </div>
                        <a class="text-center text-white py-2 px-3 bg-blue-500 rounded-md transform transition duration-300 hover:scale-105 hover:font-semibold" th:href="@{camara/{idCamara}(idCamara=${camara.id})}">Ver Detalles</a>
                        <div class="w-full bg-red-500 p-2" th:if="${camarasCreadas.size() == 0}">
                            <p class="text-white text-center">No eres el propietario de ninguna cámara</p>
                        </div>
                    </div>

                    <div class="w-full bg-[#172b46] p-2 rounded-md my-5">
                        <h2 class="text-3xl text-white text-center font-bold">Cámaras en las que participas</h2>
                    </div>
                    <div class="flex flex-col md:flex-row justify-between items-center p-5 border-black border" th:each="camara : ${camarasParticipadas}">
                            <div class="flex flex-col md:flex-row items-center gap-3">
                                <div class="flex">
                                    <img class="w-[50px] h-[50px] rounded-full"
                                         th:src="${camara.proveedor.urlFotoPerfil}"
                                         alt="" src="">
                                    <img class="w-[50px] h-[50px] rounded-full"
                                         th:src="${camara.creador.urlFotoPerfil}"
                                         alt=""
                                         src="">
                                </div>
                                <div class="flex flex-col items-center text-center max-w-[200px]">
                                    <p class="bg-red-500 text-white rounded-md p-1" th:if="${camara.estadoDeLaCamara == -1}">CÁMARA CANCELADA</p>
                                    <p class="bg-red-500 text-white rounded-md" th:if="${camara.estadoDeLaCamara == -2}">CÁMARA RECHAZADA POR PROVEEDOR</p>
                                    <p class="bg-green-500 text-white rounded-md" th:if="${camara.estadoDeLaCamara == 2}">RECIBIENDO PARTICIPANTES</p>
                                    <p class="bg-yellow-500 text-black rounded-md" th:if="${camara.estadoDeLaCamara == 3}">ESPERANDO COTIZACIÓN DE ENVÍO</p>
                                    <p class="bg-yellow-500 text-black rounded-md" th:if="${camara.estadoDeLaCamara == 4}">ESPERANDO EL PAGO DE LOS PARTICIPANTES</p>
                                    <p class="bg-yellow-500 text-black rounded-md" th:if="${camara.estadoDeLaCamara == 5}">ESPERANDO QUE EL PROVEEDOR ENVÍE LA CÁMARA DE PEDIDOS</p>
                                    <p class="bg-green-500 text-white rounded-md" th:if="${camara.estadoDeLaCamara == 6}">CAMARA DE PEDIDOS EN CAMINO!</p>
                                </div>
                            </div>
                            <div>
                                <p class="" th:if="${camara.estadoDeLaCamara == 6}">Fecha aproximada de llegada:<span th:text="${camara.fechaDeLlegada}"></span></p>
                                <p>Estado: <span th:text="${camara.estadoDeLaCamara}"></span></p>
                                <p>Proveedor: <span th:text="${camara.proveedor.nombreEmpresa}"></span></p>
                                <p>Creador de la camara: <span th:text="${camara.creador.nombreEmpresa}"></span></p>
                                <p>Fecha de expiración: <span th:text="${camara.fechaDeExpiracion}"></span></p>
                            </div>
                        <a class="text-center text-white py-2 px-3 bg-blue-500 rounded-md transform transition duration-300 hover:scale-105 hover:font-semibold" th:href="@{camara/{idCamara}(idCamara=${camara.id})}">Ver Detalles</a>
                    </div>
                    <div class="w-full bg-red-500 p-2" th:if="${camarasParticipadas.size() == 0}">
                        <p class="text-white text-center">No tienes ninguna participación vigente</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
<script>
    <!--Esta el dropdown-->
    let bodyVariable = document.getElementById('body-id');
    let dropdown = document.getElementById('dropdown');
    let dropItems = document.getElementById('drop-items');
    let isOpen = false;

    <!--Para editar la foto-->
    let editBtn = document.getElementById('edit-btn');
    let fotoInput = document.getElementById('foto-input');
    let cancelBtn = document.getElementById('close-form');

    dropdown.addEventListener('click', () => {
        if (isOpen === false) {
            dropItems.style.display = "flex";
            isOpen = true;
        } else {
            dropItems.style.display = "none";
            isOpen = false;
        }
    });

    bodyVariable.addEventListener('click', (e) => {
        const isClickInsideDropdown = dropdown.contains(e.target);

        if (!isClickInsideDropdown && isOpen) {
            dropItems.style.display = "none";
            isOpen = false;
        }
    });

    <!--Editar foto de perfil-->
    editBtn.addEventListener('click', () => {
        fotoInput.style.display = "flex";
    });

    cancelBtn.addEventListener('click', () => {
        fotoInput.style.display = "none";
    });
</script>
</html>