<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Direction</title>
</head>
<style>
    .pendiente{
        background-color: rgba(255, 165, 0, 0.98);
    }
    .aceptada{
        background-color: rgba(117, 222, 117, 0.84);
    }
</style>
<body>

    <img style="width: 120px;height: 120px;border-radius: 50%" th:src="${userLogueado.urlFotoPerfil}" alt="" src="">
    <div>
        <form action="/user/perfil/foto" method="POST">
            <label>
                URL Foto:
                <input type="text" name="url">
            </label>
            <input type="submit" value="Editar Foto">
        </form>
    </div>
    <div>
        <h3 th:text="${userLogueado.nombreEmpresa}"></h3>
        <h3 th:text="${userLogueado.email}"></h3>
        <h3 th:if="${userLogueado.rolUsuario == 1}">Comprador</h3>
        <h3 th:if="${userLogueado.rolUsuario == 2}">Proveedor</h3>
    </div>

<a href="/perfil/direcciones">Direcciones</a>
<a th:if="${userLogueado.rolUsuario == 2}" href="/perfil/productos">Productos</a>
<br>


<div th:if="${userLogueado.direcciones.size() == 0}">
    <p>Para operar en la app debes registrar por lo menos una dirección! Adelante:</p>
    <form th:action="@{/direccion/create}" method="POST" th:object="${direccion}">
        <label>
            Pais:
            <input type="text" th:field="*{pais}">
            <br>
            <label style="color: red" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></label>
        </label>
        <br>
        <label>
            Provincia:
            <input type="text" th:field="*{provincia}">
            <br>
            <label style="color: red" th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></label>
        </label>
        <br>
        <label>
            Ciudad:
            <input type="text" th:field="*{ciudad}">
            <br>
            <span style="color: red" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></span>
        </label>
        <br>
        <label>
            Codigo Postal:
            <input type="text" th:field="*{codigoPostal}">
            <br>
            <label style="color: red" th:if="${#fields.hasErrors('codigoPostal')}" th:errors="*{codigoPostal}"></label>
        </label>
        <br>
        <label>
            Calle:
            <input type="text" th:field="*{calle}">
            <br>
            <label style="color: red" th:if="${#fields.hasErrors('calle')}" th:errors="*{calle}"></label>
        </label>
        <br>

        <input type="submit" value="Guardar Dirección">
    </form>
</div>
<div th:unless="${userLogueado.direcciones.size() == 0}">
    <div th:if="${camarasProveidas}">
        <h2>Camaras Proveidas</h2>
        <div style="border: solid 1px" th:each="camara : ${camarasProveidas}">
            <img style="width: 50px;height:50px; border-radius: 50%" th:src="${camara.creador.urlFotoPerfil}" alt="" src="">
            <p style="color: red" th:if="${camara.estadoDeLaCamara == 1}">PENDIENTE DE ACEPTACIÓN</p>
            <p style="color: green" th:if="${camara.estadoDeLaCamara == 2}">RECIBIENDO PARTICIPANTES</p>
            <p style="color: #0eadc0" th:if="${camara.estadoDeLaCamara == 3}">ESPERANDO REFORMULACIÓN DE COSTO DE ENVÍO</p>
            <p style="color: #5e0ec0" th:if="${camara.estadoDeLaCamara == 4}">ESPERANDO QUE SE EFECTÚEN TODOS LOS PAGOS</p>
            <p style="color: #fd33a1" th:if="${camara.estadoDeLaCamara == 5}">ESPERANDO QUE EL PROVEEDOR ENVÍE LA CÁMARA DE PEDIDOS</p>
            <p style="color: #ffffff;background-color: green" th:if="${camara.estadoDeLaCamara == 6}">CAMARA DE PEDIDOS EN CAMINO!</p>
            <p style="color: #ffffff;background-color: green" th:if="${camara.estadoDeLaCamara == 6}">
                Fecha aproximada de llegada:
                <span th:text="${camara.fechaDeLlegada}"></span>
            </p>
            <p>Estado: <span th:text="${camara.estadoDeLaCamara}"></span></p>
            <p>Dirección de envío: <span th:text="${camara.direccionEnvio.calle} +', '+${camara.direccionEnvio.ciudad}+', '+${camara.direccionEnvio.provincia}+', '+${camara.direccionEnvio.pais} "></span> </p>
            <p>Empresa: <span th:text="${camara.creador.nombreEmpresa}"></span></p>
            <p>Titular: <span th:text="${camara.creador.nombreTitular}"></span></p>
            <p>Telefono: <span th:text="${camara.creador.telefono}"></span></p>
            <p>Participantes de la cámara: <span th:text="${camara.participantes.size()}"></span></p>
            <div th:if="${camara.estadoDeLaCamara == 4 || camara.estadoDeLaCamara == 5}">
                <p th:each="participante : ${camara.participantes}">- Pedido de
                    <span th:text="${participante.nombreEmpresa}"></span>:
                    <span th:each="pedidoDelParticipante : ${participante.pedidos}" th:if="${pedidoDelParticipante.camara == camara}">
                        <span style="color: green" th:if="${pedidoDelParticipante.estadoDelPedido == 2}">PAGADO</span>
                        <span style="color: red" th:if="${pedidoDelParticipante.estadoDelPedido == 1}">ESPERANDO PAGO</span>
                </span></p>
            </div>
            <p>Fecha de expiración: <span th:text="${camara.fechaDeExpiracion}"></span></p>
            <p th:if="${camara.estadoDeLaCamara != 1}">Precio de envio: <span th:text="${camara.precioEnvio}"></span></p>
            <form th:if="${camara.estadoDeLaCamara == 5}" th:action="@{/camara/{idCamara}/enviar(idCamara = ${camara.id})}" method="POST">
                <label>
                    Fecha de llegada estimada:
                    <br>
                    <input type="date" name="fechaDeLlegada">
                </label>

                <input type="submit" value="CÁMARA EN CAMINO">
            </form>
            <a th:href="@{camara/{idCamara}(idCamara=${camara.id})}">Ver Detalles</a>
            <div th:if="${camara.estadoDeLaCamara == 1 }">
                <form th:action="@{/perfil/camara/confirmacion/{idCamara}(idCamara =${camara.id})}" method="POST">
                    <label>
                        Precio de envio inicial:
                        <input type="number" name="precioEnvio">
                    </label>
                    <input type="submit" value="Confirmar">
                </form>
            </div>
            <div th:if="${camara.estadoDeLaCamara == 3 }">
                <form th:action="@{/perfil/camara/confirmacion/{idCamara}(idCamara =${camara.id})}" method="POST">
                    <label>
                        Reformular Precio de envio:
                        <input type="number" name="precioEnvio">
                    </label>
                    <input type="submit" value="Guardar">
                </form>
            </div>
        </div>
        <div th:if="${camarasProveidas.size() == 0}">
            No te compro nadie pa
        </div>
    </div>

    <div th:if="${camarasCreadas}">
        <h2>Las cámaras que gestionas</h2>
        <div style="border: solid 1px" th:class="${camara.estadoDeLaCamara == 1} ? 'pendiente' : 'aceptada'" th:each="camara : ${camarasCreadas}">
            <img style="width: 50px;height:50px; border-radius: 50%" th:src="${camara.proveedor.urlFotoPerfil}" alt="" src="">
            <p style="color: red; display: inline" th:if="${camara.estadoDeLaCamara == 1}">PENDIENTE DE ACEPTACIÓN</p>
            <img style="width: 100px" th:if="${camara.estadoDeLaCamara == 1}" src="https://i.gifer.com/origin/ea/ea3fa7a07d9cb563d67168a6e45ed4e1.gif" alt="">
            <p style="color: green" th:if="${camara.estadoDeLaCamara == 2}">RECIBIENDO PARTICIPANTES</p>
            <p style="color: #0eadc0" th:if="${camara.estadoDeLaCamara == 3}">ESPERANDO COTIZACIÓN DE ENVÍO</p>
            <p style="color: #5e0ec0" th:if="${camara.estadoDeLaCamara == 4}">ESPERANDO EL PAGO DE LOS PARTICIPANTES</p>
            <p style="color: #fd33a1" th:if="${camara.estadoDeLaCamara == 5}">ESPERANDO QUE EL PROVEEDOR ENVÍE LA CÁMARA DE PEDIDOS</p>
            <p style="color: #ffffff;background-color: green" th:if="${camara.estadoDeLaCamara == 6}">CAMARA DE PEDIDOS EN CAMINO!</p>
            <p style="color: #ffffff;background-color: green" th:if="${camara.estadoDeLaCamara == 6}">
                Fecha aproximada de llegada:
                <span th:text="${camara.fechaDeLlegada}"></span>
            </p>
            <p>Estado: <span th:text="${camara.estadoDeLaCamara}"></span></p>
            <p>Proveedor: <span th:text="${camara.proveedor.nombreEmpresa}"></span></p>

            <a th:href="@{camara/{idCamara}(idCamara=${camara.id})}">Ver Detalles</a>
        </div>
        <div th:if="${camarasCreadas.size() == 0}">
            No eres el propietario de ninguna cámara
        </div>
        <hr>
        <h2>Cámaras en las que participas</h2>
        <div style="border: solid 1px"  th:each="camara : ${camarasParticipadas}">
            <div style="display: flex">
                <img style="width: 50px;height:50px; border-radius: 50%" th:src="${camara.proveedor.urlFotoPerfil}" alt="" src="">
                <img style="width: 50px;height:50px; border-radius: 50%" th:src="${camara.creador.urlFotoPerfil}" alt="" src="">
            </div>

            <p style="color: green" th:if="${camara.estadoDeLaCamara == 2}">RECIBIENDO PARTICIPANTES</p>
            <p style="color: #0eadc0" th:if="${camara.estadoDeLaCamara == 3}">ESPERANDO COTIZACIÓN DE ENVÍO</p>
            <p style="color: #5e0ec0" th:if="${camara.estadoDeLaCamara == 4}">ESPERANDO EL PAGO DE LOS PARTICIPANTES</p>
            <p style="color: #fd33a1" th:if="${camara.estadoDeLaCamara == 5}">ESPERANDO QUE EL PROVEEDOR ENVÍE LA CÁMARA DE PEDIDOS</p>
            <p style="color: #ffffff;background-color: green" th:if="${camara.estadoDeLaCamara == 6}">CAMARA DE PEDIDOS EN CAMINO!</p>
            <p style="color: #ffffff;background-color: green" th:if="${camara.estadoDeLaCamara == 6}">
                Fecha aproximada de llegada:
                <span th:text="${camara.fechaDeLlegada}"></span>
            </p>
            <p>Estado: <span th:text="${camara.estadoDeLaCamara}"></span></p>

            <p>Proveedor: <span th:text="${camara.proveedor.nombreEmpresa}"></span></p>
            <p>Creador de la camara: <span th:text="${camara.creador.nombreEmpresa}"></span></p>
            <p>Fecha de expiración: <span th:text="${camara.fechaDeExpiracion}"></span></p>
            <a th:href="@{camara/{idCamara}(idCamara=${camara.id})}">Ver Detalles</a>
        </div>
        <div th:if="${camarasParticipadas.size() == 0}">
            No tienes ninguna participación vigente
        </div>
    </div>
</div>
</body>
</html>