<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Direction</title>
</head>
<body>
    <h1>Perfil - Logueado</h1>
    <p>Cantidad de direcciones: <span th:text="${userLogueado.direcciones.size()}"></span></p>
    <a href="/perfil/direcciones">Direcciones</a>
    <a href="/perfil/productos">Productos</a>
    <br>
    <div th:if="${userLogueado.direcciones.size() == 0}">
        <p>Para operar en la app debes registrar por lo menos una dirección! Adelante:</p>
        <form th:action="@{/direccion/create}" method="POST" th:object="${direccion}">
            <label>
                Pais:
                <input type="text" th:field="*{pais}">
                <br>
                <label style="color: red" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></label>
            </label>
            <br>
            <label>
                Provincia:
                <input type="text" th:field="*{provincia}">
                <br>
                <label style="color: red" th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></label>
            </label>
            <br>
            <label>
                Ciudad:
                <input type="text" th:field="*{ciudad}">
                <br>
                <span style="color: red" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></span>
            </label>
            <br>
            <label>
                Codigo Postal:
                <input type="text" th:field="*{codigoPostal}">
                <br>
                <label style="color: red" th:if="${#fields.hasErrors('codigoPostal')}" th:errors="*{codigoPostal}"></label>
            </label>
            <br>
            <label>
                Calle:
                <input type="text" th:field="*{calle}">
                <br>
                <label style="color: red" th:if="${#fields.hasErrors('calle')}" th:errors="*{calle}"></label>
            </label>
            <br>

            <input type="submit" value="Guardar Dirección">
        </form>
    </div>

</body>
</html>